body{
    background-color: rgb(50, 181, 224);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.description{
    color: green;
}
.data{
    color: white;
}
#purple{

    color: purple;
}